{% extends 'base.html.twig' %}

{% block body %}
    <h1>Societe</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ societe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ societe.nom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ societe.ville }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ societe.cp }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_societe_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
