{% extends "base.html.twig" %}

{% block title %}{{ contact.prenom }} {{ contact.nom }} - AddressBook{% endblock %}

{% block body %}

    <h2>{{ contact.prenom }} {{ contact.nom }}</h2>

    {% if contact.email %}
    <p>Email : {{ contact.email }}</p>
    {% endif %}

    {% if contact.societe %}
        <p>Société : {{ contact.societe.nom }}</p>
    {% endif %}

{% endblock %}
