{% extends "base.html.twig" %}
{# TEST #}
{% form_theme contactForm 'bootstrap_3_layout.html.twig' %}

{% block title %}Mettre à jour un contact - AddressBook{% endblock %}

{% block body %}
    <h2>Mettre à jour un contact</h2>

    {{ form_start(contactForm, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_row(contactForm.gentile) }}
        {{ form_row(contactForm.prenom) }}
{#        <div class="form-group">#}
{#            {{ form_label(contactForm.prenom) }}#}
{#            {{ form_widget(contactForm.prenom, {attr: {class: 'form-control'}}) }}#}
{#            {{ form_errors(contactForm.prenom) }}#}
{#        </div>#}
        {{ form_row(contactForm.nom) }}
        {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.dateNaissance) }}
    {{ form_row(contactForm.hobbies) }}
    {{ form_row(contactForm.societe) }}
        <button class="btn btn-primary">Modifier</button>
    {{ form_end(contactForm) }}

{% endblock %}

{#
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/body.css') }}">
    <style>
        label {
            width: 80px;
        }
    </style>
{% endblock %}
#}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
{% endblock %}


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script>
        $('#appbundle_contact_hobbies').select2();
    </script>
{% endblock %}